body{
  width: 1245px;
  height: 470px;
}

.container,
.grid {
  margin: 0;
  width: 1245px;
}
.container {
  background-color: #1E38CF;
  position: fixed;
}

input{
  width: 170px;
  margin-right: 10px;
}

.horizontal {
  height: 70px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.horizontal ul {
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

.horizontal ul li {
  float: left;
  display: block;
  padding: 3px;
}


.horizontal ul li a {
  color: #fff;
  background: #1E38CF;
  display: block;
  font-family: fantasy;
  font-size: 1.8em;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
  padding: 4px 30px;
  text-decoration: none;
  line-height: 110px;
}

.horizontal ul li a:hover {
  color: #000;
  text-decoration: none;
}

.horizontal li:hover{
  color: black;
}

.horizontal img{
  vertical-align: middle;
}

.search{
  padding-top: 48px;
  width: 200px;
  right: 15px;
}


.right {
  width:70%;
  height: 100%;
  padding-top: 120px;
  padding-left: 20%;
}
.item {
  margin: 10px;
}

.movie {
  float:right;
}

#headerbar{
  position: fixed;
  font-family: sans-serif;
  padding-top: 50px;
  line-height: 2em;
  font-size: 16px;
  margin-top: 120px;
}

#catli{
  text-align: right;
  list-style-type: none;
}

#catli li{
  /*border-bottom: 2px solid blue;*/
}
.header{
  height: 70px;
  position: fixed;
}

.item img{
  height: 200px;
  width: 200px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.right{
  padding-left: 280px;
  padding-top: 170px;
}
