body{
  width: 1245px;
  height: 800px;
}

.container {
  margin: 0;
  width: inherit;
  background-image: url("book3.jpg");
  position: fixed;
}

input{
  width:100%;
  line-height: 15px;
  font-family: arial, sans-serif;
  height: 33px;
  font-size: 15px;
  text-indent: 8px;
}
.error{
  color: red;
  margin: 10px;
}

.horizontal {
  height: 70px;
  /*width: 95%;*/
  margin:auto;
}

.horizontal ul{
  padding-left: 10px;
}
.horizontal ul li {
  float: left;
  display: inline;
  padding: 3px;
}

.horizontal ul li a {
  color: #fff;
  /*background: #1E38CF;*/
  display: block;
  font-family: fantasy;
  font-size: 1.8em;
  margin: 0px;
  font-weight: bold;
  padding: 4px 20px;
  line-height: 110px;
}

.horizontal ul li a:hover {
  color: #febd69;
  text-decoration: none;
}

.horizontal img{
  vertical-align: middle;
}

.nav-search{
  padding: 37px 30px;
  width: 350px;
  display: block;
}

#nav-search-con{
  margin-left: 5px;
  background-color: #febd69;
  width:40px;
  height: 35px;
  position: relative;
  float: right;
  display: inline-block;
  border-radius: 5px;

}
form .glyphicon-search{
  padding: 2px;
  font-size: 1.5em;
}

.nav-fill{
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #cdcdcd;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  position: relative;
}

.right {
  width:70%;
  height: 100%;
  padding-left: 280px;
  padding-top: 170px;
}
.right form{
  width: 70%;
  margin: 40px;
}

.center{
  text-align: center;
}
.item {
  margin: 10px;
}

.movie {
  float:right;
}

#headerbar{
  position: fixed;
  font-family: sans-serif;
  padding-top: 50px;
  line-height: 2em;
  font-size: 16px;
  margin-top: 120px;
}
.lastModi{
  padding-left: 20px;
  font-size: 15px;
  width:250px;
  line-height: normal;
  text-align: right;
}
#catli{
  text-align: right;
  list-style-type: none;
}

.header{
  height: 70px;
  position: fixed;
}

.item img{
  height: 200px;
  width: 200px;
  padding-right: 15px;
  padding-bottom: 10px;
}
