/*<!-- ********Author: Pooja, TingTing, Allan, Shubham @ Date: 2015 Fall ************--> */
body{
  width: 1245px;
  height: 800px;
  margin:auto;
}

.container {
  margin: 0;
  width: inherit;
  background-image: url("book3.jpg");
  position: fixed;
  z-index: 1;
}

input{
  width:100%;
  line-height: 15px;
  font-family: arial, sans-serif;
  height: 33px;
  font-size: 15px;
  text-indent: 8px;
}
.error{
  color: red;
  margin: 10px;
}

ul.pagination {
    margin: 10px 0 0 0;
}

.horizontal {
  height: 70px;
  /*width: 95%;*/
  margin:auto;
}

.horizontal>ul{
  padding-left: 10px;
}
.horizontal>ul>li {
  float: left;
  display: inline;
  padding: 3px;
}

.horizontal>ul>li>a {
  color: #fff;
  /*background: #1E38CF;*/
  display: block;
  font-family: 'Comic sans MS';
  font-size: 1.7em;
  margin: 0px;
  font-weight: bold;
  padding: 4px 20px;
  line-height: 110px;
}

li>.dropdown{
  margin-top: auto;
  height: 75px;
  padding-top: 30%;
  font-weight: bold;
}

.dropdown>a, .dropdown-menu a{
    color: #fff;
    display: block;
    font-family: 'Comic sans MS';
    font-size: 1.5em;
}

.horizontal>ul>li a:hover {
  color: #febd69;
  text-decoration: none;
}

.horizontal img{
  vertical-align: middle;
}

.nav-search{
  padding: 37px 30px;
  width: 350px;
  display: block;
}

#nav-search-con{
  margin-left: 5px;
  background-color: #febd69;
  width:40px;
  height: 35px;
  position: relative;
  float: right;
  display: inline-block;
  border-radius: 5px;

}

/**********************order.php**************/
div#orderbox {
    width: 90%;
     box-shadow: none;
     float:none;
     margin-left: auto;
}

div#orderbox td{
  padding-top: 15px;
}

.red{
  color: red;
}


.wrap {
  position: absolute;
  height: 150px;
  width: 187px;
  background-color: white;
  border: 1px gray solid;
  box-shadow: 0 0 5px grey;
  display: none;
}

a:hover div.wrap{
  display: block;
}

.wrap p{
  color:black;
  margin: 20px;
  text-align: left;
  font-weight: normal;
}
/**********************end of order.php**************/

form .glyphicon-search{
  padding: 2px;
  font-size: 1.5em;
}

#itemdetails p{
  text-align: justify;
  text-indent: 40px;
}

.nav-fill{
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #cdcdcd;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  position: relative;
}

.right {
  padding-left: 190px;
  padding-top: 170px;
  margin-bottom: 40px;
}
.right form{
  width: 70%;
  margin: 40px;
}

.narrow{
  padding-left: 140px;
  height: 600px;
  width:90%;
}
.left{
  margin-right:32px;
  float:left;
  width: 210px;
}

.left>img {
    width: 210px;
    height: 310px;
}
#itemdetails{
  float:left;
  width:600px;
}
select.btn.dropdowntoggle.btn-default{
  width: 90px;
}
.rate{
  background-image: url("images/star.png");
  background-repeat: no-repeat;
  height:66px;
  width:66px;
  font-weight: bold;
  font-size: 15px;
  padding-top: 21px;
  padding-left: 15px;
  margin-right: 10px;
  font-family: tahoma;
  float:left;
}

h1#title {
    margin-top: 0;
    font-size: 28px;
    color: #382110;
}

.smallText{
  line-height: 14px;
}
#form{
  margin:auto;
  width: 80%;
}

.center{
  text-align: center;
}
.item {
  margin: 10px;
}

.movie {
  float:left;
}

.movie td{
  width:280px;
}

.book{
  margin-right: 50px;
}

#searchbox {
    width: 90%;
    margin: auto;
    padding-left: 0;
}

#headerbar{
  position: fixed;
  font-family: sans-serif;
  padding-top: 50px;
  line-height: 2em;
  font-size: 16px;
  margin-top: 120px;
}

#catli{
  text-align: right;
  list-style-type: none;
  padding-left: 10px;
}

.header{
  height: 70px;
  position: fixed;
}

.item img{
  height: 249px;
width: 180px;
margin-top: 25px;
padding-bottom: 10px;
margin-left: 30px;
}

td a:link{
  color:#136CB2;

}

td h5{
  margin: 0 15px;
}

td>img{
  margin-top: 10px;
}
.checkout{
  margin: 0px;
  width: 100%;
  background-image: url("header.jpg");
  /*position: fixed;*/
}


.voffset150 { margin-top: 150px; }

.checkout img{
  vertical-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#cartbox{
  width:52%;
  margin-left: 30px;
  padding:10px;
}

.cartqty>button{
  width:50px;
  margin: 0 5px;
  font-size: 18px;
  padding: 0 15px;
}

#deletion{
  margin:15px;
}

#deletion>button{
  font-size: 15px;
  padding: 0 20px;
}

.box{
  width: 40%;
  height: auto;
  float: right;
  margin-right: 30px;
  background: rgba(255,255,255,1.0);
  color: #000;
  box-shadow: inset 0 0 15px #000000;
}
.box legend{
 text-align: center;
 padding-top: 1em;
 font-family: helvetica;
 font-weight: bold;
 font-size: 2em;
}

.accordion_container{
  display: block;
  width: 100%;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}
.accordion_head {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid #333333;
  background-color:#333333;
  color:white;
  font-family: helvetica;
  margin:0px;
  padding:.5em;
}
.accordion_body{
  display: none;
  background-color: rgb(213, 209, 205);
  box-shadow: inset 0px 0px 0px 4px #333333;
  margin: 0px;

}
.accordion_body ul{
  list-style: none;
  padding: 1em;
}

.inner_accordion_head  {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  /*border: 2px solid #333333;*/
  background-color:rgb(213, 209, 205);
  color:#333333;
  font-family: helvetica;
  margin:0px;
  padding:.5em;
}

.inner_accordion_body {
  display: none;
  background-color: rgb(213, 209, 205);
  color:#333333;
  margin: 1px;
  padding-left: 1em;
}

.inner-accordion-content.default {display: block;}
.form1, .inner-accordion-content form{
  width:75%;
  color:#333333;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.inner-accordion-content p{
  font-size: 1.0em;
  margin: 1em;
}

.plusminus,.plusminus1{
  float: right;
}

.cbtn{
  background-color: rgba(255,255,255,0.5);
  color:#333333;
  border: 1px solid #333330;
  box-shadow: inset 0 0 5px #000000;
  font-weight: bold;
  margin-top: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

.btn-left{
  text-align:left;
}

.radio input{
  width: 1em;
  height: 1em;
}

.card{
  margin: 0px;
  padding-bottom: 40px;
}
.card label{
  float: left;
  margin-right: 5px;
}
.card input{
  width:80px;
  float: left;
  margin-right:15px;
}

.pay img{
  height: 130px;
  width: 400px;
  padding: 0px;
  margin: 0px;
}
.vuser{
  padding-top: 135px;
  padding-left: 50px;
  min-height: 500px;
}
/*Slideshow*/
.slide{
  padding-top:5px;
  vertical-align: center;
  margin-bottom: 15px;
}
.slider_wrapper{
  overflow: hidden;
  position:relative;
  width: 80%;
  /*1366px*/
  height: 550px;
  top:auto;
  margin-left: auto;
  margin-right: auto;
}
#image_slider{

  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding:0px;
  margin:0px;
}
#image_slider li{
  position: relative;
  float: left;
}
.nvgt{
  position:absolute;
  top: 220px;
  height: 50px;
  width: 30px;
  opacity: 0.6;
}
.nvgt:hover{
  opacity: 0.9;
}
#prev{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
  left: 0px;
}
#next{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
  right: 0px;
}

#copycont{
  height: 70px;
  padding: 20px;
  margin-top: 20px;
  line-height: 10px;
  font-family: "Trebuchet MS";
  font-size: 12px;
  background-color:  #B36D6F;
}
