body{
  width: 1245px;
  height: 800px;
  margin:auto;
}

.container {
  margin: 0;
  width: inherit;
  background-image: url("book3.jpg");
  position: fixed;
}

input{
  width:100%;
  line-height: 15px;
  font-family: arial, sans-serif;
  height: 33px;
  font-size: 15px;
  text-indent: 8px;
}
.error{
  color: red;
  margin: 10px;
}

.horizontal {
  height: 70px;
  /*width: 95%;*/
  margin:auto;
}

.horizontal ul{
  padding-left: 10px;
}
.horizontal ul li {
  float: left;
  display: inline;
  padding: 3px;
}

.horizontal ul li a {
  color: #fff;
  /*background: #1E38CF;*/
  display: block;
  font-family: 'Comic sans MS';
  font-size: 1.7em;
  margin: 0px;
  font-weight: bold;
  padding: 4px 20px;
  line-height: 110px;
}

.horizontal ul li a:hover {
  color: #febd69;
  text-decoration: none;
}

.horizontal img{
  vertical-align: middle;
}

.nav-search{
  padding: 37px 30px;
  width: 350px;
  display: block;
}

#nav-search-con{
  margin-left: 5px;
  background-color: #febd69;
  width:40px;
  height: 35px;
  position: relative;
  float: right;
  display: inline-block;
  border-radius: 5px;

}
form .glyphicon-search{
  padding: 2px;
  font-size: 1.5em;
}

.nav-fill{
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #cdcdcd;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  position: relative;
}

.right {
  width:70%;
  padding-left: 280px;
  padding-top: 170px;
}
.right form{
  width: 70%;
  margin: 40px;
}

.center{
  text-align: center;
}
.item {
  margin: 10px;
}

.movie {
  float:right;
}

#headerbar{
  position: fixed;
  font-family: sans-serif;
  padding-top: 50px;
  line-height: 2em;
  font-size: 16px;
  margin-top: 120px;
}

#catli{
  text-align: right;
  list-style-type: none;
}

.header{
  height: 70px;
  position: fixed;
}

.item img{
  height: 200px;
  width: 200px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.checkout{
  margin: 0;
  width: 100%;
  background-image: url("header.jpg");
  /*position: fixed;*/
}

.checkout img{
  vertical-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255,255,255,1.0);
  color: #000;
  box-shadow: inset 0 0 15px #000000;
}
.box legend{
 text-align: center;
 padding-top: 1em;
 font-family: helvetica;
 font-weight: bold;
 font-size: 2em;
}

#accordion{
  display: block;
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
}
.accordion-toggle {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid #333333;
  background-color:#333333;
  color:white;
  font-family: helvetica;
  margin:0px;
  padding:.5em;
}
.accordion-content {
  display: none;
  background-color: rgb(213, 209, 205);
  box-shadow: inset 0px 0px 0px 4px #333333;
  margin: 0px;

}
.accordion-content.default {display: block;}
.accordion-content.default ul{
  list-style: none;
  padding: 1em;
}

.inner-accordion-toggle {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  /*border: 2px solid #333333;*/
  background-color:rgb(213, 209, 205);
  color:#333333;
  font-family: helvetica;
  margin:0px;
  padding:.5em;
}

.inner-accordion-content {
  display: none;
  background-color: rgb(213, 209, 205);
  color:#333333;
  margin: 0px;
}

.inner-accordion-content.default {display: block;}
.form1, .inner-accordion-content form{
  width:60%;
  color:#333333;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.inner-accordion-content p{
  font-size: 1.0em;
  margin: 1em;
}

.cbtn{
  background-color: rgba(255,255,255,0.5);
  color:#333333;
  border: 1px solid #333330;
  box-shadow: inset 0 0 5px #000000;
  font-weight: bold;
  margin-top: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.btn-left{
  text-align:left;
}

.radio input{
  width: 1em;
  height: 1em;
}

/*Slideshow*/
.slide{
  padding-top:140px;
  vertical-align: center;
}
.slider_wrapper{
  overflow: hidden;
  position:relative;
  width: 100%;
  /*1366px*/
  height: 500px;
  top:auto;
  margin-left: auto;
  margin-right: auto;
}
#image_slider{

  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding:0px;
  margin:0px;
}
#image_slider li{
  position: relative;
  float: left;
}
.nvgt{
  position:absolute;
  top: 220px;
  height: 50px;
  width: 30px;
  opacity: 0.6;
}
.nvgt:hover{
  opacity: 0.9;
}
#prev{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
  left: 0px;
}
#next{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
  right: 0px;
}

#copycont{
  height: 70px;
  padding: 20px;
  line-height: 10px;
  font-family: "Trebuchet MS";
  font-size: 12px;
  background-color:  #B36D6F;
}
